<div class="d-flex flex-row banner"></div>
<div class="d-flex flex-column flex-sm-row my-3 px-5 justify-content-around cardButtonContainer text-center flex-wrap">
    <a asp-controller="Exercise" asp-action="Exercises" class="d-flex cardButton p-4 m-2">
        <div>
            <div class="flex-column">
                <div class="cardBtn-header">
                    <h5>Exercises</h5>
                </div>
                <div class="cardBtn-body">
                    @*<h5>Everything about exercises</h5>*@
                    <p>In here you can look into all the different exercises. Use it for inspiration or to look up information about certain exercises.</p>
                </div>
                <div></div>
            </div>
        </div>
    </a>

    <a asp-controller="Workout" asp-action="ShowWorkouts" class="d-flex cardButton p-4 m-2">
        <div>
            <div class="flex-column">
                <div class="cardBtn-header">
                    <h5>Workouts</h5>
                </div>
                <div class="cardBtn-body">
                    @*<h5>Create, use and customize workouts</h5>*@
                    <p>Do you want to use or create your own workout or do you want to use a pre-made workout? Everything is in here.</p>
                </div>
                <div></div>
            </div>
        </div>
    </a>

    <a asp-controller="Training" asp-action="ShowSchedules" class="d-flex cardButton p-4 m-2">
        <div>
            <div class="flex-column">
                <div class="cardBtn-header">
                    <h5>Training Schedules</h5>
                </div>
                <div class="cardBtn-body">
                    @*<h5>Create, use and customize your personal training schedules</h5>*@
                    <p>Do you want to use or create your own training schedule or do you want to use a pre-made schedule? Everything is in here.</p>
                </div>
                <div></div>
            </div>
        </div>
    </a>
</div>
<button id="hideButton" class="btn btn-dark">Hide Text</button>
<div id="homeText">
    <div>Deze div wil ik kunnen verbergen en weergeven</div>
</div>