@model List<FitnessApp.Models.TrainingModel>

<h1 style="text-align: center">Training Schedules</h1>


@foreach (var schedule in Model)
{
    <partial name="_TrainingScheduleSummary" model="schedule" />
}
