@model List<FitnessApp.Models.TrainingModel>

<h1 class="text-center">Training Schedules</h1>

<hr />
@foreach (var schedule in Model)
{
    <partial name="_TrainingScheduleSummary" model="schedule" />
}
