/* Banner */
/*#homePage {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/HomeImage2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}*/


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}






/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1{
    text-align: center;
    color: white;
}

body {
    background-color: #696969;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      white-space: nowrap;
      line-height: 60px; /* Vertically center the text there */
}

.border-top-black {
    border-top: 1px solid #343a40;
}







/* Nav bar ---------------------------------------------------------------------- Nav bar*/
/* Navbar container */
.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: grey;
}

/* Login aligned right*/
.LoginService {
    margin: 10px;
}

.LoginSomething {
    display: inline-block;
    float: right;
}

.loginBtn{
    color: #fff;
}

.loginBtn:hover {
    color: grey;
}

.loginBtn:hover{
    text-decoration: none;
}

.logoutBtn {
    color: #fff;
}

.logoutBtn:hover {
    color: grey;
}







/************************************** Table layout **************************************/
.darkTable {
    color: #fff;
    background-color: #343a40;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

th {
    background-color: #2d3338;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}


.wide td:not(:first-child) {
    padding-right: 80px;
}

.tableBtn{
    margin-top: 10px;
}

tbody tr:hover {
    background-color: #2d3338;
}






/************************************** Checkbox layout **************************************/
.label__checkbox {
    display: none;
}

.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    i .icon

{
    opacity: 0.2;
    font-size: ~'calc(1rem + 1vw)';
    /*color: transparent;*/
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
}

&:hover {
    border: 5px solid rgba(0,0,0,0.2);
}

}


.label__checkbox:checked + .label__text .label__check {
    animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    .icon

{
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

}




/************************************** Textboxes **************************************/
.resizedTextbox {
    width: 50px;
    height: 20px
}

.resizedTextbox2 {
    width: 40%;
    height: 25px;
}




/************************************** Cards **************************************/
.card-img-top {
    width: 100%;
    /*height: 15vw;*/
    object-fit: cover;
}

.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.content{
    margin-top: 50px;
}

.cardButton {
    border: 1px solid black;
    width: 320px;
    color: white;
    background-color: #343a40;
    border-radius: 5px 5px 5px 5px;
}

.cardButton:hover {
    text-decoration: none;
    color: grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cardBtn-header {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.cardBtn-body {
    padding-top: 5px;
}





/************************************** Resonsive css **************************************/
/************************************** cards **************************************/
@media (min-width:356px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width:576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width:768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width:992px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width:1200px) {
    .card-columns {
        column-count: 3;
    }
}




/************************************** checkboxes **************************************/
@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes check {
    0% {
        width: 1.5em;
        height: 1.5em;
        border-width: 5px;
    }

    10% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.1;
        background: rgba(0,0,0,0.2);
        border-width: 15px;
    }

    12% {
        width: 1.5em;
        height: 1.5em;
        opacity: 0.4;
        background: rgba(0,0,0,0.1);
        border-width: 0;
    }

    50% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 0.6;
    }

    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}