@model List<ExerciseModel>

<h1>Exercises</h1>

<table class="table-content">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Discription</th>
            <th>Muscle Group</th>
            <th></th>
        </tr>
    </thead>

        @Html.DisplayForModel()

</table>
