@model List<ExerciseModel>

<h1>Exercises</h1>

<div class="container">
    <div class="card-columns">
        @foreach (var Exercise in Model)
        {
            <partial name="_ExerciseSummary" model="Exercise" />
        }
    </div>
</div>


