@model List<ExerciseModel>

<h1 class="text-center">Exercises</h1>

<hr />
<div class="container">
    <div class="row">
        @foreach (var Exercise in Model)
        {
            <partial name="_ExerciseSummary" model="Exercise" />
        }
    </div>
</div>


