@model List<ExerciseModel>

<h1 class="text-center">Exercises</h1>

<hr />
<div class="container">
        <a asp-controller="Exercise" asp-action="Add" class="btn btn-dark mb-3">Add new exercise</a>
    <div class="row">
        @foreach (var Exercise in Model)
        {
            <partial name="_ExerciseSummary" model="Exercise" />
        }
    </div>
</div>


