@model List<FitnessApp.Models.ExerciseModel>
@{
    ViewData["Title"] = "CreateWorkout";
}

<h1>CreateWorkout</h1>
<form method="post" asp-controller="Workout" asp-action="CreateWorkout1">
    <div> Name </div><input type="text" class="form-control" name="name" />
    <div> Muscle group </div><input type="text" class="form-control" name="muscleGroup" />

    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Discription</th>
                <th>Muscle Group</th>
            </tr>
        </thead>

        @Html.EditorForModel()

    </table>
    <button class="btn-primary btn" asp-controller="Workout" asp-action="CreateWorkout1">Next</button>
</form>