@model List<FitnessApp.Models.ExerciseModel>
@{
    ViewData["Title"] = "CreateWorkout";
}

<div align="center">
    <h1>Create workout</h1>
    <form method="post" asp-controller="Workout" asp-action="CreateWorkout1">
        <input type="text" placeholder="Name" class="form-control resizedTextbox2" name="name" style="margin-bottom: 5px" />
        <input type="text" placeholder="Muscle group" class="form-control resizedTextbox2" name="muscleGroup" />
        <br />

        <table class="table-content">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Discription</th>
                    <th>Muscle Group</th>
                </tr>
            </thead>

            @Html.EditorForModel()

        </table>
        <button class="btn-primary btn" asp-controller="Workout" asp-action="CreateWorkout1">Next</button>
    </form>
</div>
