@model FitnessApp.Models.WorkoutModel

@{
    ViewData["Title"] = "EditWorkout";
}

<h1>EditWorkout</h1>

<h4>WorkoutModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWorkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="WorkoutModelId" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MuscleGroup" class="control-label"></label>
                <input asp-for="MuscleGroup" class="form-control" />
                <span asp-validation-for="MuscleGroup" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark tableBtn" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

